@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

:root {
  --randRotation: 5deg;
  --horiTranslate: 10px;
  --vertiTranslate: 10px;
}
body,
html {
  font-family: 'Righteous', cursive;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  text-align: center;
  letter-spacing: 0.1em;
  font-weight: 100;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  background-color: #36343f;
}

main {
  margin: 0 0em;
}
.shadow {
  box-shadow: #201f28 0.4rem 0.4rem 0;
}
button {
  padding: 0.5em;
  background-color: transparent;
  border: none;
}
button img {
  transition: all 0.1s cubic-bezier(0, 1.79, 0.84, 0.87);
  transform: rotate(0deg) scale(1);

  filter: drop-shadow(6px 6px #201f28);
}

button:hover img {
  filter: drop-shadow(12px 12px #201f28);
  transform: rotate(var(--randRotation)) scale(1.1);
}

button:active img {
  transition: all 0.01s;
  transform: rotate(0deg) scale(1);

  filter: drop-shadow(6px 6px #201f28);
}
