nav {
  background-color: #fec20b;
  display: flex;
  font-size: 20px;
  justify-content: center;
  gap: 10%;
  padding: 1em 0;
  position: relative;
  z-index: 20;
}

nav button {
  font-size: 1em;
  background: transparent;
  border: none;
  color: #171a23;
}

a {
  text-decoration: none;
  color: #171a23;
}
